.imageCard{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-real{
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
    height: auto;
    cursor: pointer;
    
}
.tags-real{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.site{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:768px){
    .card-real{
        width: 85%;
        margin-bottom: 2%;
    }
    .imageCard{
        width: 70%;
    }
}
