.card{
    width: 17%;
    background-color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
.tag{
    border-radius: 15px;
    padding: 6px;
    background-color: rgb(243, 222, 226);
    margin-bottom: 2%;

}
.tags{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin-top: 10%;
}
.deco{
    background-color: rgb(46, 230, 107, 0.5);
    width: 33%;
    height: 25%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconeCard{
    color: black;
    width: 60%;
    
}