.imageCard{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-real{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
}
.tags-real{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

