.block-comp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(241, 137, 137, 0.2);
    border-radius: 25px;
    width: 95%;
    margin: auto;
    font-family: 'Kalam', cursive;
}
.competence{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.block-comp h1{
    font-size: 48px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
    margin: 5%;
}
.button{
    width: 20%;
    height: 40%;
    background-color: rgb(46, 230, 107, 0.5) ;
    appearance: none;
    border: none;
    border-radius: 25px;
    font-family: 'Kalam', cursive;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.button-cv{
    width: 65%;
    border: none;
    color: black;
    border-radius: 25px;
    font-family: 'Kalam', cursive;
    font-size: 16px;
    padding: 5%;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .block-comp{
        flex-direction: column;
    }
    .competence{
        flex-direction: column;
    }
    .buttons{
        flex-direction: column;
    }
    .button{
        width: 70%;
    }
    .block-comp h1{
        text-align: center;
    }
    .button-cv{
        padding: 2%;
    }
}