footer{
    height: 20vh;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #344D59;
}
.container_footer{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.email{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copy-button{
    background-color: #7A90A4;
    color: white;
    padding: 1%;
    border-radius: 25px;
    width: 15%;
    font-size: 20px;
    cursor: pointer;
}
.valign p{
    color: white;
}
footer h3{
    font-size: 26px;
}
@media screen and (max-width:768px){
    .copy-button{
        width: 30%;
    }
    footer{
        margin-top: 5%;
    }
}