@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}
	24% {
		opacity: 1;
	}
	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
	}
	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}
	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}
	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}
	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}
	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
	border: #fff 1px solid;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
nav ul li a{
	text-decoration: none;
	color: black;
}
nav ul li{
	list-style: none;
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
	font-size: 20px;
	width: 25%;
	text-align: center;
}
nav ul{
	display: flex;
    width: 55%;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}
nav{
	display: flex;
    width: 90%;
    justify-content: flex-end;
}
.barre-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
	color: black;
}
.header{
    width: 100%;
    height: 4vh;
    padding: 20px;
	display: flex;
    align-items: center;
	background-color: #fff;
	opacity: 1;
}
@keyframes textclip {
    to {
            background-position: 200% center;
    }
}
.container-header{
    background: linear-gradient(180deg, #f07c8c 0%, #f18989 11%, #fff 100%);
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-banner{
    font-size: 2.8125rem;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    width: 28%;
    margin: 0;
    font-family: 'Kalam', cursive;
}

.container-header img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: white 2px solid;
}
.move{
	width: 100%;
	height: 10vh;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
	flex-direction: column;
	gap: 30px;
	font-size: 26px;
	font-weight: 900;
	font-family: 'Kalam', cursive;
}
.move a {
	text-decoration: none;
	color: black;
}