.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
	border: #fff 1px solid;
    animation: myAnim 2s ease 0s 1 normal forwards;
}
nav ul li a{
	text-decoration: none;
	color: white;
}
nav ul li{
	list-style: none;
    font-family: "Orbitron", sans-serif;
    display: flex;
    justify-content: center;
	font-size: 20px;
	width: 25%;
	text-align: center;
}
nav ul{
	display: flex;
    width: 55%;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}
nav{
	display: flex;
    width: 90%;
    justify-content: flex-end;
}
.barre-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
	color: white;
}
.header{
    width: 100%;
    height: 4vh;
	margin-top: 1%;
	display: flex;
    align-items: stretch;
    justify-content: space-around;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150vh;
}
@keyframes textclip {
    to {
            background-position: 200% center;
    }
}
.container-header{
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
i{
	color: #fff;
}
.text-banner{
    font-size: 25px;
    line-height: 1.4;
    color: white;
    width: 70%;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
        
    /* shorthand
    animation: focus-in-contract 1s linear 0s 1 normal none;*/
}
@keyframes focus-in-contract {
        
    0% {
        letter-spacing:1em;
        filter:blur(12px);
        opacity:0;
    }
    100% {
        filter:blur(0);
        opacity:1;
    }
}

.container-header img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    border: white 2px solid;
}
.move{
	width: 100%;
	height: 10vh;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
	flex-direction: column;
	gap: 30px;
	font-size: 26px;
	font-weight: 900;
	font-family: "Orbitron", sans-serif;
}
.move a {
	text-decoration: none;
	color: white;
	margin: 1%;
}
@media screen and (max-width:1200px){
	nav ul{
		width: 100%;
	}
}

@media screen and (max-width:767px){
	.header{
		display: none;
	}
	.container-header{
		flex-direction: column-reverse;
		
	}
	.container-header img{
		width: 200px;
		height: 200px;
	}
	.text-banner{
		width: 90%;
		text-align: center;
	}
}