/* Styling for the modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .ReactModal__Overlay{
    position: absolute;
    font-family: 'Kalam', cursive;
    font-size: 16px;
  }
.ReactModal__Content{
    border: none !important;
    background-color: transparent !important; 
  }
  /* Styling for the modal content */
  .modal-content {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .modal-content img{
    width: 50%;
    object-fit: cover;
  }
  
  /* Styling for the close button */
  .modal-content button {
    background-color: rgb(243, 222, 226);
    border: none;
    width: 50%;
    cursor: pointer;
    margin-bottom: 2%;
    margin-top: 2%;
    color: black;
    padding: 3%;
    border-radius: 50px;
    font-weight: 900;
  }
  
  /* Styling for modal content headings */
  .modal-content h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  /* Styling for modal content paragraphs */
  .modal-content p {
    margin-bottom: 16px;
  }
  
  /* Styling for modal content links */
  .modal-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Styling for tags */
  .tag {
    border-radius: 25px;
    padding: 3%;
    background-color: rgb(243, 222, 226);
    margin-bottom: 2%;
  }
.tags-modale{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  