.block-real{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgba(241, 137, 137, 0.2);
    font-family: 'Kalam', cursive;
    border-radius: 25px;
    margin-top: 5%;
    padding: 2%;
}
.realisation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.block-real h1{
    font-size: 48px;
}
@media screen and (max-width:768px){
    .realisation{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}